@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: gray
}

h1, h2, h3, section.work > div > div {
    font-family: Playfair Display,'Times New Roman', Times, serif;
    color: black
}

h2, section.work > div > div {
    font-size: 3.5rem;
}

h3 {
    font-size: 1.8rem;
}

header {
    background-image: linear-gradient(135deg, rgb(2, 184, 225) 0 50%, white 50% 100%);
}

section.work > div > div {
    background-color: rgb(16, 106, 0);
}

section.work > div:nth-child(even) > div {
    background-color: rgb(146, 4, 4);
}

section {
    font-size: 1.6rem;
}

footer, footer > h2, section.work > div > div {
    color: white
}

footer {
    background-color: rgb(2, 184, 225);
}