@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

img, picture, video, canvas, svg {
  display: block;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 2rem;
    color: gray;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

h1, h2, h3 {
    font-family: Playfair Display,'Times New Roman', Times, serif;
    color: black;
    font-weight: 300;
}

h2 {
    font-size: 7rem;
    margin-bottom: 0.45em;
}

h3 {
    font-size: 2.5rem;
    margin: 0.5em 0;
}

p {
    margin-bottom: 1em;
}

.spider-man-contact {
    width: 20em;
    
}

header {
    background-image: linear-gradient(170deg, rgb(2, 184, 225) 0 55%, rgba(0, 0, 0, 0.295) 55%, white 57% 100%);
    padding: 4em 6em;
    grid-row: 1;
}

header > div {
    background-color: white;
    box-shadow: 0em 0.4em 1em rgba(0, 0, 0, 0.433);
    padding: 1.5em 2.25em;
    display: flex;
    flex-direction: column;
}

section {
    font-size: 1.6rem;
    padding: 1em 3em;
    grid-row: 2 / 4;
}

section > h2 {
    margin-left: 0.5em;
}

div.work {
    padding: 2em 0;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

div.work > div {
    padding: 1em;
}

div.work > div > div {
    font-family: Playfair Display,'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(16, 106, 0);
    font-size: 4rem;
    text-align: center;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.work > div:nth-child(even) > div {
    background-color: rgb(146, 4, 4);
}

div.work > div > div + div, div.work > div:nth-child(even) > div + div {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 0 0 ;
}

footer {
    background-color: rgb(2, 184, 225);
    grid-row: 4;
    padding: 2em 2em;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

footer, footer > div > h2 {
    color: white
}

ul {
    list-style-type: none;
    margin-bottom: 1em
}

li.contact-info {
    display: flex;
    margin-bottom: 0.5em;
    align-items: center;
}

/* ______________ */

button {
    border: none;
    background: none;
    width: 2.5em;
    align-self: flex-end;
}

button.socials > .github, button.socials  {
    min-width: 5em;
}

button > .github {
    max-width: 4.5em;
}

.gen {
   min-width: 1.5em; 
   margin-right: 1em;
}

.external-icon {
    width: 2.5em;
}

@media (min-width: 1660px) {
    div.work {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

@media (max-width: 1200px) {
    body {
         font-size: 2rem;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
    font-size: 2.5rem;
    margin: 0.5em 0;
    }

    div.work {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    
    div.work > div > div {
        background-color: rgb(169, 172, 5);
        font-size: 3.5rem;
    }

    div.work > div:nth-child(even) > div {
        background-color: rgb(3, 3, 132);
    }

    footer {
    font-size: 2.4rem;
    }

    .spider-man-contact {
        width: 12em
    }
}

@media (max-width: 600px) {
    body {
         font-size: 1.3rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
    font-size: 1.8rem;
    margin: 0.5em 0;
    }

    div.work {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    div.work > div > div {
    background-color: rgb(94, 5, 172);
     font-size: 3rem;
    }

    div.work > div:nth-child(even) > div {
        background-color: rgb(132, 96, 3);
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    section > h2 {
        margin-left: 0;
    }

    footer {
    padding: 0;
    flex-direction: column;
    font-size: 2rem;
    }

    footer > div {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

    footer > div > h2, footer > div > button {
        align-self: center;
    }

    li.contact-info {
        font-size: 2rem;
    }

    .spider-man-contact {
        width: 100vw;
    }

    .gen {
   display: none;
    }

    button.socials > .github, button.socials  {
    max-width: 4em;
    min-width: 3em;
    }

    button > .github {
        max-width: 3.5em;
    }

    .external-icon {
        width: 2.2em;
    }
}

/* For a much better example for how to use media queries, watch Kevin Powell's Media Query video posted in the big 2025. Please future me, for the sake for my sanity. Thank you. Love you. */